Source: arsoft-web-kpasswd
Section: admin
Priority: optional
Maintainer: Andreas Roth <aroth@arsoft-online.com>
Standards-Version: 3.9.4
Build-Depends: debhelper (>= 8), python (>= 2.7)
X-Python-Version: >=2.7

Package: arsoft-web-kpasswd
Architecture: all
Depends: arsoft-python-kerberos, python-django, ${python:Depends}, ${misc:Depends}
Description: change Kerberos password via web
 This service allows you to change your Kerberos password via Web.
